.login-form-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-container h1 {
    margin: 0;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form-container .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-container label {
    margin-bottom: 5px;
    align-self: center;
}

.input-container input {
    height: 1.5em;
}

.login-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-btn-container button {
    padding: 10px;
    background-color: rgba(202, 211, 220, 0.3);
    border-radius: 5px;
    border: 1px solid rgba(202, 211, 220, 0.6);
}

.login-btn-container button:hover {
    cursor: pointer;
    background-color: rgb(202, 211, 220);
    color: rgb(61, 100, 255);
}
