.form-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/images/bckg-eventForm.jpg);
    background-position: center;
    background-size: cover;
}

.form-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 250, 243);
    border: 1px solid rgba(202, 211, 220, 0.6);
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    width: 450px;
    padding: 50px 100px;
}

form > div,
.tickets-info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > div > label {
    align-self: center;
}

form > div > input,
.tickets-info input {
    height: 1.5em;
}

form > div > select {
    height: 2em;
}

.tickets-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tickets-info div {
    width: 200px;
}

form .button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .file-input input {
    height: 40px;
}

form .file-input input::-webkit-file-upload-button {
    margin-right: 15px;
}

.button,
::-webkit-file-upload-button {
    width: fit-content;
    padding: 10px;
    background-color: rgba(202, 211, 220, 0.3);
    border-radius: 5px;
    border: 1px solid rgba(202, 211, 220, 0.6);
}

.button:hover,
::-webkit-file-upload-button:hover {
    cursor: pointer;
    background-color: rgb(202, 211, 220);
    color: rgb(61, 100, 255);
    opacity: 1;
}


.required-fields {
    font-size: smaller;
}
