.wrapper {
    height: 100%;
}

.my-events-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(10px) brightness(.9);
}

.events-header,
.event-container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
}

.events-header {
    margin-bottom: 20px;
    font-size: larger;
    color: white;
    font-weight: bold;
}


.event-container {
    height: 70px;
    border-radius: 35px;
}

.event-container div {
    text-align: center;
}

.my-events-container .event-container:nth-child(odd) {
    background-color: rgba(245, 222, 190, 0.9);
}

.my-events-container .event-container:nth-child(even) {
    background-color: rgba(255, 244, 229, 0.9);
}

.event-container .button {
    text-decoration: none;
    color: black;
    margin: 10px;
    box-shadow: 0 0 5px grey;

}

.my-events-container .event-container:nth-child(odd) .button {
        background-color: rgb(244, 199, 154);
}

@media screen and (max-width: 450px) {
    .wrapper {
        height: auto;
        padding-bottom: 10px;
    }

    .events-header {
        display: flex;
        flex-direction: column;
        font-size: smaller;
        margin-top: 10px;
        margin-bottom: 5px;
        gap: 5px;
    }

    .event-container {
        display: flex;
        flex-direction: column;
        font-size: smaller;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .event-container .button {
        display: inline-block;
    }
}
